<!-- Marc Nettles-->
<!-- Full Stack Website-->

<!-- Banner-->



<div class="container-grid text-sm-center p-5 bg-warning">
    <h1 class="display-2">Cybersecurity, Webdev, Software Engineering, SysAdmin, DB-Admin, and more!</h1>
    <p class="lead">Graduated CU Boulder's Computer Science BS degree program in May of 2023</p>
    <p class="lead">Proud Veteran of the U.S. Air Force</p>
    <a href="https://www.colorado.edu/"><img src="https://www.colorado.edu/brand/sites/default/files/styles/medium/public/page/boulder-one-line-reverse.png" height="150" width="450" alt="University of Colorado Boulder Buffs Logo"></a> 
    <a href="https://www.af.mil/"><img src="resources/AirForceLogo.png" height="150 " width="150" alt="U.S. Air Force Logo"></a>
</div>