<!--// Marc Nettles 06/27/2022
//
// The intent of this project is to set up my own private
// web server which will host my public website containing
// my coding and webdev projects.
//
//
// Things I want to use: Back-end/Front-end separation, Bootstrap, NodeJS, ExpressJS, EJS, maybe try some reactJS
-->
<!DOCTYPE html>
<html lang="en">

<!-- Including the head and header reusable partials -->
<head>
	<%- include('../partials/head') -%>
</head>

<body>
	<%- include('../partials/banner') -%>

	
	<header class="sticky-top">
		<%- include('../partials/header') -%>
	</header>

	<main>
		

		
		
	</main>
	<br>
	<footer class = "text-center bg-dark">
		<%- include('../partials/footer') -%>
	</footer>

</body>
</html>
